* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.btn {
    padding: 20px 40px;
    background: #F8DE1C;
    border: 2px solid transparent;
    border-radius: 7px;
    color: #181818;
    font-size: 18px;
    font-weight: 500;
    margin: 100px 0;
    transition: all .3s linear;
    cursor: pointer;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    z-index: 5;
}

.btn:hover {
    background: #f3dc2b;
}

.btn:active {
    transform: scale(0.8);
}


.b {
    border: 2px solid red;
}

/*! ======= START HEADER SECTION ======= */
#header {
    width: 100%;
    height: 100vh;
    background: url('../img/header/bg1.png') no-repeat center / cover;
    min-height: 375px;
}
.header__bg {
    background: url('../img/header/bg.png') no-repeat center / cover;
    width: 100%;
    height: 100%;
}
.logo__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 150px;
}
.contact {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.header__title {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    max-width: 350px;
}
.header__img {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.header__img img {
    width: 650px;
}

/*! START HEADER [MEDIA] SECTION **************  */

@media screen and (max-width: 1199px) {
    .logo {
        width: 120px;
    }
    .contact {
        font-size: 20px;
    }
    .header__title {
        font-size: 42px;
        max-width: 300px;
    }
    .btn {
        padding: 15px 30px;
    }
    .header__img img {
        width: 500px;
    } 
}
@media screen and (max-width: 991px) {
    #header {
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        width: 100px;
    }
    .contact {
        font-size: 15px;
    }
    .header__title {
        font-size: 35px;
        max-width: 270px;
    }
    .btn {
        padding: 12px 24px;
    }
}
/*! END HEADER [MEDIA] SECTION **************  */

/*! ======= END HEADER SECTION ======= */


/*! ======= START HELP SECTION ======= */
.help {
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    z-index: 1;
}
.help__overlay {
    position: absolute;
    top: -255px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.help__overlay img {
    width: 100%;
    height: 800px;
}
.help__title {
    font-size: 36px;
    color: #181818;
    font-weight: 500;
}
.help__box-img {
    padding-bottom: 20px;
}
.help__box-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    padding-bottom: 12px;
}
.help__box-text {
    font-size: 14px;
    color: #333;
}

/*! START HELP [MEDIA] SECTION **************  */

@media screen and (max-width: 1199px) {
    .help__overlay {
        top: -250px;
    }
    .help__overlay img {
        height: 780px;
    }
}

@media screen and (max-width: 991px) {
    .help {
        background: #F8DE1C;
    }
    .help__overlay {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .help__title {
        font-size: 25px;
    }
}

/*! END HELP [MEDIA] SECTION **************  */


/*! ======= END HELP SECTION ======= */

/* START TAXI INFORMATION Style */

.taxi__information {
    background-color: #fff;
    width: 100%;
    margin: 200px 0 100px 0;
}

.taxi__information-title {
    font-size: 36px;
    color: #181818;
}

.taxi__information-box {
    box-sizing: border-box;
    margin: 70px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgb(94, 104, 121, 0.288);
    border-radius: 7px;
    transition: 0.3s;
    padding: 10px 0 20px 0;
}

.taxi__information-box:hover {
    transform: scale(1.2);
}

.information__img {
    width: 100%;
    overflow: hidden;
}

.information__title {
    font-size: 24px;
    font-weight: 600;
    color: rgba(24, 24, 24, 1);
    margin: 20px 0;
}

.information__text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.information__text span {
    font-size: 18px;
    color: rgba(249, 178, 51, 1);

}

@media screen and (max-width: 400px) {
    .taxi__information-title {
        font-size: 25px;
    }
}
/* END TAXI INFORMATION Style */

/* ===== START TAXI DISCOUNT Style =====*/



/* ===== END TAXI DISCOUNT Style =====*/

/* ======= START TAXI SERVICES  =======*/

.services {
    width: 100%;
    background: url('../img/services/services-bg.png') no-repeat center / cover;
    margin: 0;
}

.services__bg {
    background: url('../img/services/services-opacity.png') no-repeat center / cover;
    width: 100%;
    height: 100%;
    padding: 150px 0 100px 0;
}

.services-title {
    font-size: 36px;
    color: #fff;
}

.services__box {
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    transition: all 1000ms ease;
    cursor: pointer;
}

.services__box:hover {
    border-radius: 1rem;
    border: 1px solid #fff;
}

.services__box-text {
    font-size: 24px;
    color: #fff;
    margin-top: 2rem;
}

@media screen and (max-width: 400px) {
    .services__box-text {
        font-size: 18px;
    }
    .services-title {
        font-size: 25px;
    }
}
/* ======= END TAXI SERVICES  =======*/

footer {
    background: #181818;
    margin: 0;
}


